@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;900&display=swap");
/* mixin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
}
*::-moz-selection {
  background-color: #50002b;
  color: white;
}
*::selection {
  background-color: #50002b;
  color: white;
}

#header {
  background-color: black;
  padding: 5px;
}
#header .navbar .container-fluid .logo img {
  margin-left: 20px;
}
#header .navbar .container-fluid .navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: white;
  margin: 0 12px;
}
#header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #f81793;
}

.newsletter {
  background-image: url(../images/fondos/universo-sideral.jpg);
  background-size: cover;
  padding: 1.5em;
  text-align: center;
}
.newsletter h6 {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.newsletter p {
  color: white;
  margin-bottom: 1em;
  margin-top: 5px;
}
.newsletter .form-container {
  margin-top: 1.5em;
}
.newsletter .form-container .input-large {
  width: 60%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
}
.newsletter .form-container .input-large:focus {
  outline: none;
  box-shadow: 0 0 15px #f81793;
}
.newsletter .form-container button {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#ff61d2, #fe9090);
  color: rgb(41, 7, 41);
  padding: 0.8em 2em;
  margin-left: 10px;
  cursor: pointer;
}
.newsletter .form-container button:hover {
  background-image: linear-gradient(#662d8c, #ed1e79);
  text-decoration-line: line-through;
  color: white;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2px;
}
#footer .whatsapp-btn {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 10px;
}
#footer .whatsapp-btn a .whats {
  width: 50px;
}
#footer .whatsapp-btn a .whats:hover {
  animation: botonWhatsapp 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
#footer a {
  text-decoration: none;
}
#footer a img {
  width: 30px;
  margin-top: 10px;
}
#footer a img:hover {
  transform: scale(1.4);
}
#footer p {
  margin-top: 10px;
}

#intro .hero {
  background-image: url(../images/sideralis/fondo-sideralis.jpg);
  background-size: 125%;
  padding: 10.7em;
  text-align: center;
}
#intro .hero .intro h1 {
  color: #f81793;
  font-size: 2.7em;
  font-weight: bold;
  animation: title 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#intro .hero .intro p {
  color: white;
  font-size: 1.5em;
  line-height: 0.7em;
  margin-top: 1.3em;
  font-weight: bold;
  animation: txt-intro 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}
#intro .hero .btnIntro a button {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#ffdbd5, #f81793);
  color: #300131;
  padding: 1em 2.8em;
  margin-top: 1.5em;
  animation: button-intro 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both;
}
#intro .hero .btnIntro a button:hover {
  background-image: linear-gradient(#662d8c, #ed1e79);
  text-decoration-line: line-through;
  color: white;
}
#intro .sub-hero {
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#intro .sub-hero .card {
  width: 20em;
}
#intro .sub-hero .card:hover {
  animation: cards 1s ease 0s 1 normal forwards;
}
#intro .sub-hero .card .card-body {
  text-align: center;
}
#intro .sub-hero .card .card-body h4 {
  font-weight: bold;
  font-size: 1.6em;
  color: rgb(7, 1, 37);
}
#intro .sub-hero .card .card-body h4:hover {
  text-decoration-line: line-through;
  color: #f81793;
}
#intro .sub-hero .card .card-body .card-text {
  -webkit-margin-after: 1.5em;
          margin-block-end: 1.5em;
  color: rgb(22, 21, 21);
}
#intro .sub-hero .card .card-body .btn-card {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #f81793;
  padding: 0.6em 2em;
  text-decoration: none;
}
#intro .sub-hero .card .card-body .btn-card:hover {
  background-image: linear-gradient(225deg, #2e3192 0%, #1bffff 100%);
  color: rgb(41, 7, 41);
  text-decoration-line: line-through;
}
#intro .newsDesign {
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
  padding-bottom: 50px;
}
#intro .newsDesign .title__design {
  margin-bottom: 30px;
  padding-top: 20px;
}
#intro .newsDesign .title__design h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  -webkit-text-decoration: line-through #f81793;
          text-decoration: line-through #f81793;
}
#intro .newsDesign .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#intro .newsDesign .flex-container .item__design {
  position: relative;
}
#intro .newsDesign .flex-container .item__design img {
  width: 300px;
  border-radius: 10px;
}
#intro .newsDesign .flex-container .item__design img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
#intro .newsDesign .flex-container .item__design h4 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
#intro .newsDesign .flex-container .item__design h4:hover {
  text-decoration-line: underline line-through;
  color: #1bffff;
}

#catalogo {
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
}
#catalogo .productos-title {
  padding: 15px;
}
#catalogo .productos-title h1 {
  color: #f81793;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: titlePages 1s ease 0s 1 normal forwards;
}
#catalogo .productos-title p {
  text-align: center;
  line-height: 12px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  animation: txt-intro 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}
#catalogo .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
}
#catalogo .gallery .gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(225deg, rgb(63, 1, 58) 0%, rgb(0, 0, 0), rgb(255, 33, 144) 100%);
  border: 1px solid white;
  padding: 8px 8px;
  margin: 5px;
  color: black;
  border-radius: 12px;
  position: relative;
}
#catalogo .gallery .gallery-item:hover {
  animation: gallery 0.8s ease 0s 1 normal forwards;
}
#catalogo .gallery .gallery-item img {
  width: 100%;
  border-radius: 10px;
}
#catalogo .gallery .gallery-item h3 {
  margin-top: 14px;
  color: white;
  text-align: center;
  font-size: 1.4em;
}
#catalogo .gallery .gallery-item p {
  font-size: 18px;
  color: white;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 65%;
  margin: 0;
  width: 30%;
  padding: 6px;
  background-color: rgba(185, 1, 87, 0.7);
  border-radius: 20px;
}
#catalogo .botones-catalogo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#catalogo .botones-catalogo .btnCatalog {
  background-image: linear-gradient(#f81793, #fe9090 100%);
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 40px;
  text-align: center;
  margin: 20px 20px;
  color: rgb(53, 3, 53);
  font-weight: bold;
}
#catalogo .modal .modal-dialog .modal-content {
  color: white;
  font-size: 1.2em;
  background-image: url(../images/fondos/botones-gallery.jpg);
  background-size: cover;
}
#catalogo .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
}
#catalogo .modal .modal-dialog .modal-content .modal-footer .btnModal {
  background-color: #1bffff;
  border: none;
  border-radius: 15px;
  padding: 2px 10px;
  color: black;
  font-size: 16px;
}

#nosotros {
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
}
#nosotros .title-nosotros {
  padding: 15px;
}
#nosotros .title-nosotros h1 {
  color: #f81793;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: titlePages 1s ease 0s 1 normal forwards;
  margin-bottom: 40px;
}
#nosotros .sideralis-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 0 50px;
  border-radius: 15px;
}
#nosotros .sideralis-intro .txt {
  font-size: 20px;
  padding: 20px;
  color: black;
}
#nosotros .sideralis-intro .img-sideralis img {
  border-radius: 30px;
}
#nosotros .colors-insp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(197, 193, 193);
  margin: 0 50px;
  margin-top: 40px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  border-radius: 15px;
}
#nosotros .colors-insp .text-colors {
  grid-column: 1/2;
  text-align: center;
}
#nosotros .colors-insp .text-colors h3 {
  font-weight: bold;
  color: #f81793;
  font-size: 30px;
}
#nosotros .colors-insp .text-colors p {
  font-size: 20px;
  color: black;
}
#nosotros .colors-insp .colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
#nosotros .colors-insp .colors img {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

#help {
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
}
#help .title-help {
  padding: 15px;
}
#help .title-help h1 {
  color: #f81793;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: titlePages 1s ease 0s 1 normal forwards;
  margin-bottom: 40px;
}
#help .accordionHelp {
  text-align: center;
}
#help .accordionHelp .accordion {
  width: 60em;
  margin: auto;
}
#help .accordionHelp .accordion .accordion-item {
  border: 2px solid #f81793;
  border-radius: 4px;
  margin-bottom: 8px;
}
#help .accordionHelp .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #000000;
  color: #ffffff;
}
#help .accordionHelp .accordion .accordion-item .accordion-collapse {
  background-image: linear-gradient(#f81793, #fe9090);
  padding: 5px;
}
#help .accordionHelp .accordion .accordion-item .accordion-collapse .accordion-body h6 {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}
#help .accordionHelp .accordion .accordion-item .accordion-collapse .accordion-body p {
  color: black;
}
#help .talles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
#help .talles .title-talles h5 {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
#help .talles .table {
  margin-top: 10px;
  width: 800px;
  border: 1px solid #000000;
  background-color: white;
  text-align: center;
}
#help .talles .table .headerTable {
  background-color: #f74eb3;
  font-weight: bold;
}
#help .talles .table .headerTable .table th,
#help .talles .table .headerTable .table td {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

#contacto {
  text-align: center;
  background-image: url(../images/fondos/fondo-html.jpg);
  background-size: contain;
}
#contacto .contacto-title {
  padding: 15px;
}
#contacto .contacto-title h1 {
  color: #f81793;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: titlePages 1s ease 0s 1 normal forwards;
}
#contacto .contacto-title p {
  color: white;
  margin-top: 12px;
  font-size: 20px;
  animation: txt-intro 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}
#contacto .formulas {
  display: flex;
  justify-content: center;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}
#contacto .formulas .datos {
  background-image: linear-gradient(#662d8c, #ed1e79);
  padding: 50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  font-size: 17.5px;
}
#contacto .formulas .datos h3 {
  color: black;
  font-size: 25px;
  font-weight: bold;
}
#contacto .formulas .datos .redes-contacto {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#contacto .formulas .datos .redes-contacto a img {
  width: 40px;
  border-radius: 8px;
  margin-top: 15px;
}
#contacto .formulas .datos .redes-contacto a img:hover {
  transform: scale(1.3);
}
#contacto .items-formulario {
  display: flex;
  flex-direction: column;
  background-image: url(../images/fondos/space-space-art-nebula-atmosphere-universe-astronomy-76715-wallhere.com.png);
  padding: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}
#contacto .items-formulario input {
  height: 30px;
}
#contacto .items-formulario input,
#contacto .items-formulario textarea {
  margin-bottom: 20px;
  border-radius: 8px;
}
#contacto .items-formulario input:not(:-moz-placeholder-shown), #contacto .items-formulario textarea:not(:-moz-placeholder-shown) {
  padding: 10px;
}
#contacto .items-formulario input:not(:placeholder-shown),
#contacto .items-formulario textarea:not(:placeholder-shown) {
  padding: 10px;
}
#contacto .items-formulario input:focus,
#contacto .items-formulario textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #fe90af;
}
#contacto .items-formulario .button_susc {
  background-color: #f81793;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
}
#contacto .items-formulario .button_susc:hover {
  background-color: #8d0354;
}
#contacto .items-formulario input::-moz-placeholder, #contacto .items-formulario textarea::-moz-placeholder {
  font-size: 14px;
  text-indent: 5px;
}
#contacto .items-formulario input::placeholder,
#contacto .items-formulario textarea::placeholder {
  font-size: 14px;
  text-indent: 5px;
}

/* HEADER */
@media (min-width: 300px) and (max-width: 800px) {
  #header .navbar .container-fluid .logo img {
    width: 115px;
  }
}
@media (min-width: 300px) and (max-width: 991px) {
  #header .navbar-collapse .navbar-nav .nav-item {
    margin-top: 20px;
  }
  #header .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: end;
  }
}
/* INICIO */
@media (min-width: 300px) and (max-width: 400px) {
  #intro .hero {
    padding: 3.4em;
    background-size: cover;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 1.9em;
  }
  #intro .hero .intro p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  #intro .hero .btnIntro {
    font-size: 18px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.5em 1.5em;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  #intro .hero {
    padding: 3.6em;
    background-size: cover;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 1.8em;
  }
  #intro .hero .intro p {
    font-size: 1em;
    line-height: 1.2em;
  }
  #intro .hero .btnIntro {
    font-size: 18px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.5em 1.5em;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  #intro .hero {
    padding: 2.9em;
    background-size: 150%;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 1.9em;
  }
  #intro .hero .intro p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  #intro .hero .btnIntro {
    font-size: 18px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.5em 1.5em;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  #intro .hero {
    padding: 5em;
    background-size: 140%;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 2.1em;
  }
  #intro .hero .intro p {
    font-size: 1.3em;
    line-height: 1em;
  }
  #intro .hero .btnIntro {
    font-size: 20px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.7em 2.2em;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  #intro .hero {
    padding: 7em;
    background-size: 130%;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 2.4em;
  }
  #intro .hero .intro p {
    font-size: 1.3em;
    line-height: 1em;
  }
  #intro .hero .btnIntro {
    font-size: 20px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.7em 2.2em;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  #intro .hero {
    padding: 7em;
    background-size: 125%;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 2.3em;
  }
  #intro .hero .intro p {
    font-size: 1.1em;
    line-height: 1em;
  }
  #intro .hero .btnIntro {
    font-size: 15px;
  }
  #intro .hero .btnIntro a button {
    padding: 0.9em 2.3em;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  #intro .hero {
    padding: 9em;
    text-align: center;
  }
  #intro .hero .intro h1 {
    font-size: 2.5em;
  }
  #intro .hero .intro p {
    font-size: 1.3em;
    line-height: 1em;
  }
  #intro .hero .btnIntro {
    font-size: 1em;
  }
  #intro .hero .btnIntro a button {
    padding: 1em 2.5em;
  }
}
/* MAIN ARTICLE CARDS */
@media (max-width: 800px) {
  .sub-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub-hero .card {
    max-width: 14rem;
  }
  .sub-hero .card .card-body p {
    font-size: 0.9em;
  }
}
/* NUEVOS DISEÑOS */
@media screen and (max-width: 800px) {
  #intro .newsDesign .title__design h2 {
    font-size: 26px;
  }
  #intro .newsDesign .flex-container .item__design {
    width: 40%;
  }
  #intro .newsDesign .flex-container .item__design img {
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1320px) {
  #intro .flex-container .item__design img {
    width: 100%;
  }
}
/* CATÁLOGO */
@media (min-width: 300px) and (max-width: 450px) {
  #catalogo .gallery {
    grid-template-columns: repeat(1, 100%);
  }
  #catalogo .gallery .gallery-item h3 {
    text-align: center;
    font-size: 0.8em;
  }
  #catalogo .gallery .gallery-item p {
    font-size: 0.8em;
    top: 5%;
    right: 15px;
    width: 30%;
    padding: 5px;
  }
}
@media (min-width: 451px) and (max-width: 850px) {
  #catalogo .productos-title p {
    line-height: 25px;
  }
  #catalogo .gallery {
    grid-template-columns: repeat(2, 55%);
  }
  #catalogo .gallery .gallery-item h3 {
    text-align: center;
    font-size: 0.9em;
  }
  #catalogo .gallery .gallery-item p {
    font-size: 0.8em;
    top: 5%;
    right: 15px;
    width: 29%;
    padding: 5px;
  }
}
@media (min-width: 690px) and (max-width: 940px) {
  #catalogo .gallery {
    grid-template-columns: repeat(3, 35%);
  }
  #catalogo .gallery .gallery-item h3 {
    text-align: center;
    font-size: 1.1em;
  }
  #catalogo .gallery .gallery-item p {
    font-size: 1em;
    top: 5%;
    right: 15px;
    width: 29%;
    padding: 5px;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  #catalogo .productos-title p {
    line-height: 20px;
    font-size: 15px;
  }
  #catalogo .botones-catalogo .btnCatalog {
    padding: 4px 5px;
    text-align: center;
    margin: 20px 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  #catalogo .modal .modal-dialog .modal-content {
    max-width: 70%;
    margin: 0 auto;
  }
}
/* AYUDA */
@media (max-width: 1160px) {
  #help .table,
  #help .accordion {
    max-width: 90%;
  }
  #help .table {
    font-size: 12px;
  }
}
/* CONTACTO */
@media (min-width: 300px) and (max-width: 890px) {
  #contacto .formulas {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    border-radius: 0;
    -webkit-margin-after: 40px;
            margin-block-end: 40px;
  }
  #contacto .formulas .datos {
    padding: 30px;
    border-radius: 15px;
  }
  #contacto .items-formulario {
    padding: 30px;
    border-radius: 15px;
  }
}
/* NOSOTROS */
@media (min-width: 300px) and (max-width: 1183px) {
  #nosotros .sideralis-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #nosotros .sideralis-intro .txt {
    font-size: 18px;
  }
  #nosotros .sideralis-intro img {
    width: 100%;
  }
  #nosotros .colors-insp {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #nosotros .colors-insp .text-colors h3 {
    font-size: 22px;
  }
  #nosotros .colors-insp .text-colors p {
    font-size: 15px;
  }
  #nosotros .colors-insp .colors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  #nosotros .colors-insp .colors img {
    width: 100%;
  }
}
/* NEWSLATTER */
@media (min-width: 300px) and (max-width: 768px) {
  .newsletter h6 {
    font-size: 20px;
  }
  .newsletter .form-container .input-large {
    width: 80%;
  }
}
/* Título intro */
@keyframes title {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
/* Texto intro */
@keyframes txt-intro {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
/* Botón intro*/
@keyframes button-intro {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
/* Cards */
@keyframes cards {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* Destacados */
@keyframes item-destacados {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
/* Catálogo */
@keyframes titlePages {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
/* Gallery */
@keyframes gallery {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: scale(1.1);
  }
}
/* Botón Whatsapp */
@keyframes botonWhatsapp {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}/*# sourceMappingURL=main.css.map */